.vscode
firmware/*.o
firmware/*.mem
firmware/*.hex
firmware/*.elf
firmware/*.asm
sim/obj_dir
sim/memory.hex
sim/*.fst
sim/*.log
testbench/datapath_tb/obj_dir
testbench/datapath_tb/**/build
testbench/datapath_tb/**/memory.hex
testbench/datapath_tb/**/*.fst
testbench/datapath_tb/**/failed
testbench/datapath_tb/**/*.log
testbench/unit_tb/**/obj_dir
testbench/unit_tb/**/*.vcd
testbench/unit_tb/**/*.hex
testbench/unit_tb/**/*.out
testbench/unit_tb/**/*.fst
testbench/unit_tb/**/*.hex
filelist_lint.f 
*.DS_Store
.hdl_cheker/
*/build/
