.vscode
tb/**/obj_dir
tb/**/*.vcd
tb/**/*.hex
firmware/*.o
firmware/*.mem
firmware/*.hex
firmware/*.elf
firmware/*.asm
sim/obj_dir
sim/memory.hex
sim/*.fst
sim/*.log
test/obj_dir
test/*/build
test/*/memory.hex
test/*/*.fst
test/*/failed
test/*/*.log
test_cache
filelist_lint.f