.vscode
tb/**/obj_dir
tb/**/*.vcd
tb/**/*.hex
firmware/*.o
firmware/*.mem
firmware/*.hex
firmware/*.elf
firmware/*.asm
sim/obj_dir
sim/mem.hex
sim/*.fst
test/obj_dir
test/*/build
test/*/mem.hex
test/*/*.fst
test/*/failed
test/*/*.log
filelist_lint.f